
/* Reduce Quarto book navigation sidebar width */
:root {
  --quarto-sidebar-width: 240px;
}

/* Tighten padding inside the book sidebar */
.quarto-sidebar {
  padding-left: 1rem;
  padding-right: 1.25rem;
}



/* Allow main content to use more width */
.page-columns {
  max-width: 1400px;
}


/* Change inline code color */
code {
    color: #021628; 
    background-color: #A8E1BCFF; 
    padding: 8px 8px;
    border-radius: 10px;
    font-weight: bold;
}



/* Custom callout*/

.citationbox {
  margin-top: 1em;
  margin-bottom: 1em;  
  border-radius: .25rem;
  border-left: solid #acacac .3rem;
  border-right: solid 0.5px silver;
  border-top: solid 0.5px silver;
  border-bottom: solid 0.5px silver;
  border-left-color: #737373 !important;
  background-color: #f9f9fa;
  
}



.citationbox-header {
  margin-bottom: 0.5em;
  border-bottom: none;
  font-weight: 600;
  opacity: 85%;
  font-size: 1rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  background-color: #f0f0f0;
  height: 2em;
  overflow: hidden;
  
}

.citationbox-header p {
  padding-top: 0.2em;
}

.citationbox-body {
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
}

.citationbox-body > :last-child {
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  
}
