/* ================================================= */
/* ===         Global Color Palette              === */
/* ================================================= */
:root {
  --brand-gold:   #ffcb57;
  --brand-red:    #a91919;
  --brand-blue:   #025d96;
  --brand-teal:   #3DB4AD;
  --brand-navy:   #021628;
  --brand-green:  #71c670;
  --brand-ltgrn:  #A8E1BC;
  --brand-purple: #414081;

}

/* ================================================= */
/* ===           Themable Scoped Headers        === */
/* =============================================== */

/* Default Header and Text Styles */
.chapter-content {
  --rc-text:   var(--brand-navy);   
  --rc-accent: var(--brand-teal);   
  --rc-line:   var(--brand-teal); 
  
  color: var(--rc-text);
  line-height: 1.6;
  margin: 5rem;
}

/* ------------------------------------------------- */
/* ---           Header Element Styles           --- */
/* ------------------------------------------------- */

/* Custom H1 (Markdown: # Header) */
.chapter-content h1 {
  color: var(--rc-text);    
  font-weight: 700;
  font-size: 2.2rem;      
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  
  /* Uses the Adjustable Line Color */
  border-bottom: 3px solid var(--rc-line); 
  padding-bottom: 0.5rem;
  display: inline-block; 
  width: 100%;            
}

/* Custom H2 (Markdown: ## Header) */
.chapter-content h2 {
  color: var(--rc-accent);   
  font-weight: 600;
  font-size: 1.75rem;
  margin-top: 2rem;        
  margin-bottom: 0.75rem;
  
  border-bottom: 2px solid var(--rc-line); 
  padding-bottom: 0.5rem;
  display: inline-block; 
  width: 100%;  
}

/* Custom H3 (Markdown: ### Header) */
.chapter-content h3 {
  color: var(--rc-accent);     
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase; 
  letter-spacing: 1px;        
  margin-top: 2rem;        
  margin-bottom: 0.75rem;
  border-bottom: 1px solid var(--rc-line); 
  padding-bottom: 0.5rem;
  display: inline-block; 
  width: 100%;    

}


/* ------------------------------------------------- */
/* ---             Custom Headers               --- */
/* ----------------------------------------------- */

/* Example: <div class="chapter-content theme-blue"> */


.chapter-content.theme-blue {
  --rc-accent: var(--brand-blue);
  --rc-line:   var(--brand-blue);
}

.chapter-content.theme-green {
  --rc-accent: var(--brand-green);
  --rc-line:   var(--brand-green);
}

.chapter-content.theme-red {
  --rc-accent: var(--brand-red);
  --rc-line:   var(--brand-red);
}

.chapter-content.theme-purp {
  --rc-accent: var(--brand-purple);
  --rc-line:   var(--brand-purple);
}


/* Reduce Quarto book navigation sidebar width */
:root {
  --quarto-sidebar-width: 240px;
}

/* Tighten padding inside the book sidebar */
.quarto-sidebar {
  padding-left: 1rem;
  padding-right: 1.25rem;
}



/* Allow main content to use more width */
.page-columns {
  max-width: 1400px;
}


/* Change inline code color */
code {
    color: #021628; 
    background-color: #A8E1BC; 
    padding: 8px 8px;
    border-radius: 10px;
    font-weight: bold;
}



/* Custom callout*/

.citationbox {
  margin-top: 1em;
  margin-bottom: 1em;  
  border-radius: .25rem;
  border-left: solid #acacac .3rem;
  border-right: solid 0.5px silver;
  border-top: solid 0.5px silver;
  border-bottom: solid 0.5px silver;
  border-left-color: #737373 !important;
  background-color: #f9f9fa;
  
}



.citationbox-header {
  margin-bottom: 0.5em;
  border-bottom: none;
  font-weight: 600;
  opacity: 85%;
  font-size: 1rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  background-color: #f0f0f0;
  height: 2em;
  overflow: hidden;
  
}

.citationbox-header p {
  padding-top: 0.2em;
}

.citationbox-body {
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
}

.citationbox-body > :last-child {
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  
}






/* ------------------------------------------------- */
/* ---             Custom Headers               --- */
/* ----------------------------------------------- */

/* Example: <div class="report-content theme-blue"> */


.report-content.theme-blue {
  --rc-accent: var(--brand-blue);
  --rc-line:   var(--brand-blue);
}

.report-content.theme-green {
  --rc-accent: var(--brand-green);
  --rc-line:   var(--brand-green);
}

.report-content.theme-teal {
  --rc-accent: var(--brand-teal);
  --rc-line:   var(--brand-teal); 
}

.report-content.theme-red {
  --rc-accent: var(--brand-red);
  --rc-line:   var(--brand-red);
}

